@font-face {
    font-family: 'ChickenPie';
    src: url('ChickenPie-8MevB.woff2') format('woff2'),
         url('ChickenPie-8MevB.woff') format('woff'),
         url('ChickenPie-8MevB.ttf')  format('truetype');
}

/* habit bear title */
h1 {
    text-align: center;
    font-size: 70px;
    color: rgb(182, 138, 120);
    font-family: ChickenPie;
    /*background-color: rgba(182, 138, 120, 0.651); */
    margin-top:0
}  

/* table containing habits */
table {
    margin:0 auto;
    border-collapse: collapse;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.15);
}
/* header cell */
th {
    border-collapse: collapse;
    background-color: rgb(182, 138, 120);
    border: 1px solid rgb(80, 50, 48);
    padding: 18px;
}
/* row cell */
tr {
    border-collapse: collapse;
    border: 2px solid rgb(80, 50, 48);
}
tr:nth-of-type(even) {
    background-color: rgb(194, 157, 141);
}
/* cell */
td {
    border: 0.5px solid rgb(80, 50, 48);
    border-collapse: collapse;
    padding: 18px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 8%;
    display: inline-block;
}

input[type="button"] {
    width: 3%;
    display: inline-block;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}